CWM4U0_0928/CWM4U0_orarend.DTD

<?xml version="1.0" encoding="UTF-8"?>

        <!ELEMENT orarend (ora)>
        <!ELEMENT ora(targy,idopont,helyszin,oktato,szak)>
        <!ELEMENT targy (#PCDATA)>
        <!ELEMENT helyszin (#PCDATA)>
        <!ELEMENT oktato (#PCDATA)>
        <!ELEMENT szak (#PCDATA)>
        <!ELEMENT idopont (tol,ig)>
        <!ELEMENT tol (#PCDATA)>
        <!ELEMENT ig (#PCDATA)>
